{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <div id="container" style="width: 75%;">
    <canvas id="measurement-radar-chart" data-url="{% url 'measurement-chart' %}"></canvas>
  </div>

<div id="container" style="width: 75%;">
    <canvas id="measurement-chart" data-url="{% url 'measurement-chart' %}"></canvas>
  </div>


<script src="{% static 'garden_app/js/radarChart.js'  %}"></script>
<script src="{% static 'garden_app/js/barChart.js'  %}"></script>



{% endblock %}